html {
    font-family: sans-serif;
}

table {
    margin: 1em auto;
}

td {
    border: thin solid gray;
    border-radius: 2px;
    width: 1cm;
    height: 1cm;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td button {
    font-size: 1.5em;
    padding: 0.25rem;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: inherit;
    border: 0;
}

td button:enabled {
    cursor: pointer;
}

td button:disabled {
    opacity: inherit;
}