* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
}

body {
    background-color: #faf9f8;
}

#app {
    margin: 2rem auto;
    max-width: 65rem;
    padding: 0 3rem;
}

main {
    margin: 0 auto;
    max-width: 96vw;
}

kbd {
    font-weight: bold;
    border: medium outset #666;
    line-height: 2;
    padding: 0 0.25em;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-spacing: 0;
    border: thick double #333;
    padding: 0.25em;
}

td {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    button {
        border: thin solid #666;
        border-radius: 10%;
        font-size: 1em;
        font-family: Consolas, monospace;
        display: block;
        height: 100%;
        width: 100%;
        background-color: transparent;
        color: inherit;

        &:disabled:not(:empty) {
            border-color: #666;
        }
    }
}

.covered button {
    background-color: #9ac;

    &:enabled:hover,
    &:enabled:focus-visible {
        border-color: #333;
        background-color: lightslategrey;
    }

    &::after {
        content: attr(valu);
    }
}

.revealed {
    button {
        &:not(:empty) {
            background-color: palegoldenrod;
        }

        &:empty {
            border-color: #aaa;
            background-color: #ddd;
        }

        &:enabled {
            cursor: pointer;
            font-weight: bold;
        }

        &[value='1'] {
            color: #0000a5;
        }

        &[value='2'] {
            color: #003700;
        }

        &[value='3'] {
            color: #9a0000;
        }

        &[value='4'] {
            color: #570057;
        }

        &[value='5'] {
            color: #640000;
        }

        &[value='6'] {
            color: #005454;
        }

        &[value='7'] {
            color: black;
        }
    }
}

.maybe button {
    background: radial-gradient(#56ab2f, #a8e063) no-repeat #a8e063;
}

.flagged button {
    color: white;
    background: radial-gradient(#5d1674, #2f0047) no-repeat #2f0047;
}

.flagged-wrong button {
    color: white;
    background: radial-gradient(orange, darkorange) no-repeat orange;
}

.detonated button {
    background: radial-gradient(red, darkred) no-repeat red;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.vulnerable button {
    background: radial-gradient(gold, lightyellow) no-repeat yellow;
    border-radius: 2px;
}

.shadowUtil {
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%),
        0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}

.gameStatus {
    text-align: center;
    padding: 0 0.5em;
    width: 100%;
}

.gameInfo {
    background-color: white;
    width: 100%;
    padding: 0 0.5em;
}

.highScorePanel {
    ol {
        padding-left: 0.5em;
        counter-reset: highscores;
        list-style-type: none;

        li {
            counter-increment: highscores;
            margin-bottom: 0.5em;
            border-top: thin solid #aaa;

            &:hover {
                background-color: #ddd;
            }

            &:first-child {
                font-weight: bold;
            }

            &::before {
                content: counter(highscores);
                font-weight: normal;
                text-align: center;
                background-color: #333;
                color: white;
                display: inline-block;
                width: 2ch;
                padding: 0 0.5em;
                margin-right: 0.25em;
                border: thin solid #aaa;
                border-top: 0;
            }
        }
    }
}
