html {
    font-family: sans-serif;
    background-image: radial-gradient(#fffde4, #cff);
    min-height: 100vh;
}

table {
    margin: 1em auto;
    border-spacing: 0.25em;
    background-color: rgba(255, 255, 255, 0.2);
}

td {
    min-width: 1cm;
    width: 1cm;
    height: 1cm;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td button {
    border: thin solid #ccc;
    border-radius: 2px;
    font-size: 1.5em;
    padding: 0.25rem;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: inherit;
}

td button:enabled {
    cursor: pointer;
}

td button:empty:disabled {
    box-shadow: none;
}

td button:disabled:not(:empty) {
    border-color: #999;
}

td svg {
    vertical-align: middle;
}

.covered button {
    background: radial-gradient(#fceabb, #f8b500) no-repeat;
    box-shadow: 1px 1px #333;
}

.maybe button {
    background: radial-gradient(#56ab2f, #a8e063) no-repeat;
}

.flagged button {
    color: white;
    background: radial-gradient(#5d1674, #2f0047) no-repeat;
}

.detonated button {
    background-color: red;
}